@import "../../style/variables.scss";



.char{
    &__info{
        padding:25px;
    }

    &__card{
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;

        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    &__name{
        color: #000;
        font-size: 22px;
        font-weight: 700;
    }

    &__btns{
        margin-top: 35px;
        .button:nth-child(2){
            margin-top: 10px;
        }
    }
}
